.puzzles-field {
  display: flex;
  flex-direction: column;

  &__label {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 13px;
  }

  &__selected-words {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
  }

  &__words {
    display: flex;
    flex-wrap: wrap;

    &__word {
      align-items: center;
      justify-content: center;
      display: flex;
      height: 36px;
      background-color: #B076FF;
      border: 1px solid #B076FF;
      padding: 9px 10px;
      font-family: 'ProximaNova-Bold';
      font-size: 16px;
      color: #FFFFFF;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        opacity: 0.5;
      }
    }

    &__word-selected {
      background-color: transparent;
      border: 1px dashed rgba(255, 255, 255, 0.3);
      color: transparent;
      box-sizing: border-box;
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }

  }
}
