.confirmation_sending {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: content-box;
  padding: 0 35px 30px 35px;
  min-width: 50px;

  &__title {
    font-family: 'ProximaNova-Bold';
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
  }

  &__label {
    margin-top: 10px;
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }

  &__amount-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

    &__value {
      font-family: 'ProximaNova-Extrabold';
      font-size: 34px;
      color: black;
    }

    &__icon {
      border-radius: 10px;
      width: 30px;
      height: 30px;
    }
  }

  &__value {
    margin-top: 5px;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    display: flex;
    margin-top: 30px;

    button {
      font-size: 16px;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
}