.get-started-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    // 199
    margin-top: 150px;
    font-family: 'DIN-AlternateBold';
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
}
