

.overview-screen-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__currencies {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-family: 'ProximaNova-Regular';
    font-size: 15px;
    color: #FFFFFF;

    &__text {
      margin-top: 30px;
    }
    &__text-bold {
      font-family: 'ProximaNova-Bold';
    }
    &__loading-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: -20px;
    }
  }
}
