.send-form-wrapper {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.send-form {
  background: rgba(62,25,87,1);
  background: url("../../../assets/img/background-form.png") bottom no-repeat, linear-gradient(45deg, rgba(62,25,87,1) 0%, rgba(32,101,130,1) 100%);
  border-radius: 20px;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;

  &__title {
    margin-top: 30px;
    font-family: 'ProximaNova-Bold';
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }

  input::placeholder {
    font-family: 'ProximaNova-Regular';
    color: rgba(255, 255, 255, 0.6)
  }



  &__fee {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'ProximaNova-Regular';
    font-size: 14px;

    &__left {
      color: rgba(255, 255, 255, 0.4);
    }

    &__left-fee {
      color: rgba(255, 255, 255, 0.6);
    }

    &__right {
      color: #FFFFFF;
    }
  }
}