.purple {
  background-color: rgba(176, 118, 255, 0.2);
  div {
    background-color: rgba(176, 118, 255, 0.2);
  }
  &:disabled div {
    background-color: rgba(176, 118, 255, 0.3);
  }
}

.blue {
  background-color: rgba(99, 206, 255, 0.2);
  div {
    background-color: rgba(99, 206, 255, 0.2);
  }
  &:disabled div {
    background-color: rgba(99, 206, 255, 0.3);
  }
}

.basic-button {
  display: flex;
  flex: 1;
  cursor: pointer;
  justify-content: center;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'ProximaNova-Bold';
  color: #ffffff;
  height: 50px;
  align-items: center;

  &__img-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: -12px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 17px;
    height: 17px;
  }

  &:disabled {
    img {
      opacity: 0.3;
    }
    color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
  }
}