.basic-button {
  display: flex;
  flex: 1;
  cursor: pointer;
  justify-content: center;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'ProximaNova-Bold';
  background-color: rgba(99, 206, 255, 0.2);
  color: #ffffff;
  height: 50px;
  align-items: center;

  &__img-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(99, 206, 255, 0.2);
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 17px;
    height: 17px;
  }

  &__disabled {
    div {
      background-color: rgba(99, 206, 255, 0.1);
    }

    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(99, 206, 255, 0.2);
    cursor: not-allowed;
  }
}