.copy-field {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__label {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
  }

  &__input-wrapper {
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
  }

  &__input {
    flex: 1;
    background: transparent;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-left: 23px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
