.new-wallet-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: content-box;
  padding: 0 35px 30px 35px;

  &__title {
    margin-top: 9px;
    font-family: 'ProximaNova-Bold';
    font-size: 18px;
    color: black;
  }

  &__description {
    margin-top: 14px;
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.7)
  }

  &__buttons {
    display: flex;
    margin-top: 30px;

    button {
      font-size: 16px;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
}