.circle-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  input {
    text-align: center;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    border-radius: 10px;
    margin-right: 10px;

    &::placeholder {
      color: #b2bdca;
    }

    &:focus {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
}
