.next-button {
  border-radius: 15px;
  background-color: rgba(176, 118, 255, 0.2);
  color: #FFFFFF;
  flex: 1;
  height: 50px;
  width: 100%;
  font-family: 'ProximaNova-Bold';
  font-size: 18px;
  cursor: pointer;

  &:disabled {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(176, 118, 255, 0.2);
    cursor: not-allowed;

    img {
      opacity: 0.3;
    }
  }

  &__img {
    width: 11px;
    height: 9px;
    margin-left: 12px;
    margin-bottom: 2px;
  }
}