.wallet-button {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 70px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &__left-border {
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: #B076FF;
    transition-property: width;
    transition-duration: 200ms;
  }

  &:nth-child(2n) &__left-border {
    background-color: #63CEFF;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
  }

  &__icon {
    max-width:100%;
    max-height:100%;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 44px;
    border-right: 1px solid rgba(255, 255, 255, 0.03);
    padding-right: 20px;
    padding-left: 10px;
    //  фикс, что бы содержимое не вылезало за родительский див
    min-width: 20px;

    &__header {
      display: flex;
      justify-content: space-between;
      font-family: 'ProximaNova-Bold';
      font-size: 14px;
      color: #FFFFFF;

      &__wallet-balance {
        font-family: 'ProximaNova-Extrabold';
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.4);
      font-family: 'ProximaNova-Regular';
      font-size: 14px;

      &__wallet-address {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      &__wallet-balance-usd {
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }

  &__icon-arrow {
    opacity: 0.3;
    margin: 0 12px;
    width: 5px;
    height: 10px;
  }

  &:hover &__icon-arrow {
    opacity: 1;
  }

  &:hover &__left-border {
    width: 10px;
    transition-property: width;
    transition-duration: 200ms;
  }
}