.multiline-field-wrapper {

}

.multiline-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  &__label {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
  }

  &__icon {
    opacity: 0.3;
    padding-left: 10px;
    cursor: pointer;
  }

  &__input {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 0;
    background: transparent;
    flex: 1;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border: none;
    resize: none;

    &::placeholder {
      color: #b2bdca;
    }
  }
}
