.enter-wallet-form-layout {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.enter-wallet-form {
  background: rgba(62,25,87,1);
  background: url("../../../assets/img/background-form.png") bottom no-repeat, linear-gradient(45deg, rgba(62,25,87,1) 0%, rgba(32,101,130,1) 100%);
  margin-bottom: 20px;
  border-radius: 20px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;

  &__title {
    margin-top: 30px;
    font-family: 'ProximaNova-Bold';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.6)
  }

  &__error {
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    color: rgba(255, 0, 0, 0.6);
    text-align: center;
  }
}