.enter-wallet-form-layout {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.enter-wallet-form {
  background: rgba(62,25,87,1);
  background: linear-gradient(45deg, rgba(62,25,87,1) 0%, rgba(32,101,130,1) 100%);
  margin-bottom: 20px;
  border-radius: 20px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;

  &__background {
    flex: 1;
    position: absolute;
    border-radius: 20px;
    background: url("../../../assets/img/background-form.png") no-repeat 0 30%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    margin-top: 30px;
    font-family: 'ProximaNova-Bold';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
  }
}