@font-face {
  font-family: 'DIN-AlternateBold';
  src: url('./fonts/DIN-Alternate-Bold.otf')
}

@font-face {
  font-family: 'ProximaNova-Extrabold';
  src: url('fonts/ProximaNova-Extrabold.otf')
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./fonts/ProximaNova-Bold.otf')
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/ProximaNova-Regular.otf')
}

//
//@font-face {
//  font-family: 'CirceRounded Light';
//  src: url('../fonts/CirceRounded-ExtraLight.otf')
//}


