@import './fonts.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  background: rgba(13,24,57,1);
  background: linear-gradient(to bottom, rgba(13,24,57,1) 100%, rgba(8,16,36,1) 100%);
}

button {
  padding: 0;
}

#root {
  width: 375px;
  padding: 0 25px;
  box-sizing: border-box;
}

button {
  background: none;
  border: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

input {
  border: 0;

  &:focus {
    outline: none;
  }

  &:invalid {
    box-shadow: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}
