// @import './fonts.scss';

body {
  // font-family: 'CirceRounded Regular';
  margin: 0;
  padding: 0 25px;
  width: 375px;
  //height: 667px;
  background: rgba(13,24,57,1);
  background: linear-gradient(to bottom, rgba(13,24,57,1) 100%, rgba(8,16,36,1) 100%);
}

button {
  background: none;
  border: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

input {
  border: 0;

  &:focus {
    outline: none;
  }

  &:invalid {
    box-shadow: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}
